#container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 30%;
    margin: 10px 0 10px 0;
    border-left: solid 1px #9a9a9a;
}

.content {
    width: 70%;
    margin: 10px 0 10px 0;
}

.header {
    display: flex;
}

.header-title {
    flex-grow: 1;
    padding: 40px 20px;
    text-align: center;
    font-size: 24px;
}

.header-image {
    width: 200px;
    padding: 40px 20px;
    text-align: center;
}