body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #EDFFEB;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center; 
  padding: 20px;
  background-color: #fff;
}

.header-nav {
  background-color: #E4FFE0;
  text-align: center;
  padding: 10px 0;
}

.header-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;             
  justify-content: center;   
  gap: 30px;                  
}
.header-nav li {
  display: inline;
}

.header-nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: center; /* 横方向に中央揃え */
  gap: 20px;
  background-color:#EDFFEB;
  max-width: 800px; /* 中央寄せのための横幅制限（任意） */
  margin: 0 auto; /* 親内で中央に配置 */
}

.header-inner img {
  height: 80px;
  width: auto;
}
.main_image img {
  max-width: 100%;
  height: auto;
}

.article {
  display: flex;
  flex-direction: row; 
  padding: 20px;
  gap: 20px;
  flex-wrap: nowrap;
}


.content {
  flex: 3;
  padding: 20px;
  min-width: 0;
  background-color: #ffffff;
}


.side {
  flex: 1;
  padding: 20px;
  background-color: #FFFDAD;
  border-left: 3px solid #ccc;
}

.side ul {
  list-style: none;
  padding: 0;
}

.side li {
  margin: 10px 0;
}

.side a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}


.simple {
  margin-bottom: 20px;
}

.simple img {
  max-width: 300px;
  width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}

.what{
  background-color: #EDFFEB;
}

.history{
  background-color: #EDFFEB;
}

.kind{
  background-color: #EDFFEB
}

.kinds-container {
  display: flex;
  gap: 20px; /* 各項目の間隔 */
  flex-wrap: wrap; /* 画面が狭いとき折り返す */
  justify-content: space-around; /* 中央揃えなども可 */
}

.k1, .k2, .k3, .k4 {
  flex: 1 1 200px; /* 最小200px、横幅は均等に分配 */
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

/*スマホ用*/
@media screen and (max-width: 768px) {
  .article {
    flex-direction: column;
  }

  .side {
    border-left: none;
    border-top: 1px solid #ccc;
  }
}