.red{
    color: red;
}

#container {
    display: flex;
    flex-direction: row;
}

.sidebar {
    float: right;
    width: 300px; 
    background: #bc9b78;
    padding: 26px;
    box-sizing: border-box;
    font-weight: 500;
    margin: 10px 0 10px 0;
}

.sidebar ul{
    list-style: none;
    padding: 0;
}

.sidebar ul li {
  margin-bottom: 2em;
}

.sidebar ul li:last-child {
  margin-bottom: 0;
}

a{
    color : #fdeeb3
}

.side-hr{
    border : 1px solid #fdf9ee
}

.content {
    width: 70%;
    margin: 10px 0 10px 0;
    padding: 40px;
    color: #5a4638;
    background-color: #fdf9ee;
}

.header {
    display: flex;
}

.header-title {
    flex-grow: 1;
    padding: 40px 20px;
    text-align: center;
    font-size: 24px;
}

.header-image {
    width: 200px;
    padding: 40px 20px;
    text-align: center;
}

.content > h2{
    color: #c56c20;
    border-bottom: 2px solid#fdeeb3;
}

.footer_main {
    border-top:solid 1px #b7b3b3;
    font-size: 12px;
    clear: both;
    text-align: center;
    background-color: #eeeeee;
}